* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0061ff;
  --lightblue: #b4d0e7;
  --grey: #d0d0d3;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

header {
  background-color: var(--lightblue);
}

h2 {
  font-size: 30px;
  font-weight: 800;
}

ul {
  list-style: none;
}


.d-flex {
  display: flex;
}

.fix {
  position: fixed;
}

.p-relative {
  position: relative;
}

.btn-blue {
  background-color: var(--blue);
  padding: 5px 10px;
  color: white;
  border: none;
  text-decoration: none;  
}



/* FIXME:: da verificare */
.btn-blue:hover {
  padding: 5px 10px;
  border: none;
  filter: brightness(150%);
}

.container-big {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.container-small {
  max-width: 800px;
  width: 100%;
  margin: 100px auto;
}

/* HEADER */
header li a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.9rem;
  color: black;
}

header li a:hover {
  padding: 32px 0;
  border-bottom: 2px solid black;
}

 header .logo {
  scale: 0.8;
  margin-right: 10px;
 }

header .container {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 0 10px;
  z-index: 999;
}

/* JUMBOTRON */
.jumbotron {
  padding-top: 80px;
}

.jumbotron h1 {
  font-size: 60px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 50px;
}

.jumbotron .clm-left {
  width: calc(100% / 3);
}

.clm-left p,
.clm-left div,
.clm-left span {
  margin-bottom: 30px;
}

.clm-left i {
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 30px;
  font-weight: 800;
}

.jumbotron .clm-right {
  width: calc(100% / 3 * 2);
}

.clm-right img {
  position: relative;
  width: 100%;
  margin-bottom: -70px;
}
/* fine JUMBOTRON */

/* MAIN */

.piano-business h2,
.piano-business .fatturazione {
  margin-bottom: 50px;
}

.piano-business .input-fatt {
  margin-right: 30px;
}

i.blue {
  color: var(--blue);
}

i.grey {
  color: var(--grey);
}
/* BUSINESS */
.row-business {
  justify-content: space-between;
}

.clm-business {
  max-width: 250px;
  width: calc(100% / 3);
  border: 1px solid var(--grey);
  font-size: 0.8rem;
}

.clm-business .abbonamento {
  text-align: center;
  line-height: 35px;
  border-bottom: 1px solid var(--grey);
}

.descrizione-abb {
  width: 100%;
  padding: 20px;
}

.descrizione-abb span,
.descrizione-abb h3 {
  margin: 10px 0;
}


.descrizione-abb span{
  display: block;
}

.descrizione-abb ul{
  margin: 40px 15px;
}

.descrizione-abb li{
  margin: 15px 0;
}

.btn-abb {
  text-align: center;
  margin-bottom: 30px;
}

.descrizione-abb a.btn-blue {
  padding: 10px 30px;
}

span.bord-bottom {
  border-bottom: 1px solid var(--grey);
}


/* fine BUSINESS */
