* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0061ff;
  --lightblue: #b4d0e7;
  --grey: #d0d0d3;
}

html {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 2.4rem;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

ul {
  list-style: none;
}

.blue {
  color: var(--blue);
}

.grey {
  color: var(--grey);
}

.back-light-blue {
  background-color: var(--lightblue);
}

.d-flex {
  display: flex;
}

.fix {
  position: fixed;
}

.p-relative {
  position: relative;
}

.btn-blue {
  background-color: var(--blue);
  padding: 10px 20px;
  color: white;
  border: none;
  text-decoration: none;  
}

.btn-blue:hover{
  filter: brightness(150%);
}

.container-big {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.container-small section {
  margin: 100px 0;
}

.block {
  display: block;
}

/* HEADER */
header .container li a {
  text-decoration: none;
  vertical-align: middle;
  margin: 0 10px;
  font-size: 0.9rem;
  color: black;
}

header li a:hover {
  padding: 30px 0;
  border-bottom: 2px solid black;
}

header .container .btn-blue {
  margin-left: 10px;
}

header .logo {
  scale: 0.8;
  margin-right: 10px;
}

header .container {
  margin: 0 auto;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 0 10px;
  z-index: 999;
}

header .left-header,
header .container,
header .right-header {
  align-items: center;
}

/* JUMBOTRON */
.jumbotron {
  padding-top: 80px;
}

.jumbotron h1 {
  font-size: 77px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 50px;
}

.jumbotron .clm-left {
  width: calc(100% / 3);
}

.clm-left p,
.clm-left div,
.clm-left span {
  margin-bottom: 40px;
}

.clm-left i {
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 50px;
  font-weight: 800;
  color: black;
}

.jumbotron .clm-right {
  width: calc(100% / 3 * 2);
}

.clm-right img {
  position: relative;
  width: 100%;
  margin-bottom: -80px;
}
/* fine JUMBOTRON */

/* MAIN */
.piano-business h2,
.piano-business .fatturazione {
  margin-bottom: 50px;
}

.piano-business .input-fatt {
  margin-right: 30px;
}

/* BUSINESS */
.row-business,
.row-operations {
  justify-content: space-between;
}

.clm-business,
.team-clm-right,
.clm-operations {
  max-width: 300px;
  width: calc(100% / 3);
}

.row-team,
.row-operations {
  margin-top: 30px;
}

.clm-business,
.row-team {
  border: 1px solid var(--grey);
  font-size: 0.8rem;
}

.clm-business .abbonamento,
.row-team .abbonamento {
  text-align: center;
  font-weight: bold;
  line-height: 35px;
  border-bottom: 1px solid var(--grey);
}

.descrizione-abb {
  width: 100%;
  padding: 20px;
}

.descrizione-abb span,
.descrizione-abb h3 {
  margin: 10px 0;
}

.descrizione-abb ul {
  margin: 40px 15px;
}

.descrizione-abb li {
  margin: 30px 0;
}

.btn-abb a {
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 40px 0;
}

span.bord-bottom {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--grey);
}

.descrizione-abb span.p-salienti {
  margin-top: 60px;
}

.descrizione-abb .fa-check {
  color: var(--blue);
}

ul.fa-ul li {
  line-height: 16px;
}

.team-descr {
  display: block;
  padding-top: 30px;
}

.team-clm-right {
  text-align: right;
  padding-top: 20px;
}
/* fine BUSINESS */

.partner-img,
.user {
  width: 60%;
}

.partner-descr {
  width: 40%;
  padding: 40px;
}

.partner-descr p{
  margin-top: 20px;
}


.partner-img img,
.clm-operations img {
  width: 100%;
}

a.partner-link {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  margin-top: 20px;
}

a.partner-link:hover,
.other-partner-link:hover {
  opacity: 0.5;
}


.clm-operations p {
  margin-top: 30px;
}

.user a {
  display: block;
  margin-top: 40px;
}

.accordion {
  width: 100%;
}

.big-square {
  flex-wrap: wrap;
  width: calc(100% / 3);
  height: calc(100vw / 3 - 20px);
}

.small-square {
  cursor: pointer;
  width: calc(100% / 2);
  height: calc(100% / 2);
}

.small-square img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 60px;
  filter: invert(1);
}

.designit {
  background-color: #77ce6b;
}

.asu {
  background-color: #61082b;
}

.uf {
  background-color: #0093ce;
}

.topps {
  background-color: #ff1c1c;
}

.wbr {
  background-color: #d5001f;
}

.hearst {
  background-color: #b4d0e7;
}

.lonely {
  background-color: #0d2481;
}

.clear-channel {
  background-color: #ffd830;
}

/* riquadro centrale */
.details {
  background-color: #f5f5f5;
}

.central-box {
  height: 100%;
  padding: 40px;
  overflow: auto;
}

.central-box img {
  width: 50%;
  margin-bottom: 30px;
}

.central-box hr {
  width: 20%;
  size: 1px;
  color: var(--grey);
}

.central-box p {
  margin: 40px 0;
}

.designit:hover,
.asu:hover,
.uf:hover,
.topps:hover,
.wbr:hover,
.hearst:hover,
.lonely:hover,
.clear-channel:hover {
  border-style: inset;
  border: 15px solid rgba(255, 255, 255, 0.5);
  opacity: 0.7;
}

.cont50-left,
.cont50-right {
  width: 50%;
}

.cont50-right {
  padding-top: 10px;
  text-align: right;
}

div.bring-to {
  height: 50vh;
  align-items: center;
}

.bring-to.container-small {
  justify-content: space-between;
}

.cont50-right a {
  text-decoration: none;
  padding: 10px 40px;
  background-color: #f5f5f5;
  color: black;
}

.cont50-left h2 {
  color: #61082b;
}

.accordion h2 {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--grey);

}

div.cont-question {
  cursor: pointer;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid var(--grey);
}

.accordion .question {
  flex-basis: 90%;
}

.accordion .cont-question i {
  flex-basis: 10%;
  text-align: right;
  transition: all 0.5s ease;
}

.accordion .cont-question p {
  margin-top: 30px;
}

.accordion .cont-question p.answer {
  display: none;
}

.accordion .cont-question:hover p.answer {
  display: block;
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}


.accordion .cont-question:hover i {
  transform: rotate(180deg);
}





footer {
  background-color: black;
  color: white;
}

.footer-top {
  justify-content: space-between;
  padding: 90px 0;
}

footer li a {
  text-decoration: none;
  color: white;
}

footer ul {
  margin-top: 30px;
}

footer li {
  margin-bottom: 15px;
}

footer .language {
  width: 120px;
  border-top: 1px solid white;
  padding: 40px 0;
  color: #969696;
}
